## Reference Ngix.com: https://www.nginx.com/resources/wiki/start/topics/examples/full/
#
user nginx;  ## Default: nobody
worker_processes 1;  ## Default: 1, commonly 1 worker process per core
error_log   logs/error.log;
pid         logs/nginx.pid;
worker_rlimit_nofile 8192;

events {
    worker_connections 1024;  ## Default: 1024, 1 core for 1024 clients/sec
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    #gzip  on;
    
    include /etc/nginx/conf.d/ssl-server.conf;
    include /etc/nginx/conf.d/http-server.conf;

    server {
        # This is the defaulf server block - if no Host match, close the connection with 444
        listen 80 default_server;
        listen [::]:80 default_server;
        listen 443 default_server;
        listen [::]:443 default_server;
        server_name _;
        return 444;
    }
}

